*{
    font-family: sans-serif;   
    margin: 0;
    padding: 0;
    

    
}
.container{
    width: 100%;
    min-height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
    background-color: lemonchiffon;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo1{
    width: 50px;
    cursor: pointer;
    margin: 20px,0;
}
.menu-icon{
    width: 25px;
    cursor: pointer;
    display: none;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;

}
nav ul li  a{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
nav ul li a:hover{
    color: #ff5ea2;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 50%;
    position: relative;
    margin-left: 50px;
}
.col-2 h2{
    font-size: 54%;
}
.col-1 h3{
    font-size: 30px;
    color: #707070;
    font-weight: 100;
    margin: 20px  0 10px;
}
.col-1 p{
    font-size: 16px;
    color: #b7b7b7;
    font-weight: 100;
}
.col-1 h4{
    margin: 30px 0;
    font-size: 20px;
}
button{
    width: 140px;
    border: 0;
    padding: 12px 10px;
    outline: none;
    color: #fff;
    background: linear-gradient(to right, #57263c, #bac24d);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
}
button img{
    width: 15px;
    display: none;
}
button:hover img{
    display: block;
}
button:hover{
    width: 190px;
    display: flex;
    align-items: center; 
    justify-content: space-between;    
}
.col-1::after{
    content: '';
    width: 10px;
    height: 57%;
    background: linear-gradient(#4e6b1f, #3a210a) ;
    position: absolute;
    left: -40px;
    top: 10px;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 .controller{
    width: 90%;
}
.color-box{
    position: absolute;
    right: 5%;
    top: -15px;
    background: linear-gradient(#d7f336, #41ecd6);;
    border-radius: 20px 0 0 20px;
    height: 100%;
    width:635px;
    z-index: -1;
    transform: translateX(160px);
}
.add-btn img{
    width: 35%;
    margin-bottom: 5px;
}
.add-btn{
    text-align: center;
    color: #0e0e0e;
    cursor: pointer;
}
.social-links img{
    height: 13px;
    margin: 30px;
    cursor: pointer;
}
.social-links{
    text-align: center;
}
footer{
    text-align: center;
    background-color: lemonchiffon;

}
footer p{
    font-weight: bold;
}
@media only screen and (max-width:700px){
    
        nav ul{
            width: 100%;
            background: linear-gradient(#50550b, #8b8a39);
            position: absolute;
            top: 75px;
            right: 0;
            z-index: 2;
        }      
        nav ul li{
            display: block;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        nav ul li a{
            color: #fff;
        }
        .menu-icon{
            display: block;
        }
        #menuList{
            overflow: hidden;
            transition: .5s;
        }
        .row{
            flex-direction: column-reverse;
            margin: 50px 0;
        }
        .col-2{
            flex-basis: 100%;
            margin-bottom: 50px;
        }
        .col-2 .controller{
            width: 77%;
        }
        .color-box{
            transform: translateX(50px);
            left: -5% ;
        }
        .col-1{
            flex-basis: 100%;
        }
        .col h2{
            font-size: 35px;
        }
}